@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #272931;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
a,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
  color: #fff;
}
button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none;
}
input:focus {
  outline: none !important;
}
a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
}
a:-webkit-any-link:focus-visible {
  outline-offset: unset;
}
:focus-visible {
  outline: none;
}
.btn-check:focus+.btn, .btn:focus,
.btn-check:focus+.btn-outline-secondary,
.btn-outline-secondary:focus,
.btn-check:active+.btn-outline-secondary:focus,
.btn-check:checked+.btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus,
.form-control:focus {
  border:none;
  box-shadow: none;
}
a {
  display: inline-block;
  transition: 0.3s all ease;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
button,
img {
  transition: 0.3s all ease;
}

.owl-drag {
  overflow: hidden;
}
.owl-item {
  float: left;
}
.owl-dots {
  display: none;
}
.owl-nav {
  display: none;
}

.wrapper {
  overflow: hidden;
}

.title h1 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #fafafe;
}
.title h2 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 34px;
  line-height: 137.9%;
  color: #FFFFFF;
}

.blue-btn {
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding: 15px 44px;
}
.blue-btn:hover {
  background: linear-gradient(180deg, #00E2F2 0%, #008AC8 100%);
  color: #000;
}

.mob {
  display: none;
}
header.index {
  padding-bottom: 200px;
}
header {
  background-color: #201d1d;
  background-image: url('../images/main-bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  /* height: 100vh; */
  padding: 22px 0;
}
header .navbar-brand {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin-right: 54px;
  background: linear-gradient(90deg, #00e2f2 0%, #008ac8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
header .navbar {
  padding: 0;
}
header .navbar-brand img {
  margin-right: 10px;
}
header .navbar-expand-lg .navbar-nav {
  align-items: center;
}
header .navbar-expand-lg .navbar-nav.navbar-right {
  margin-left: auto;
}
header .navbar-expand-lg .navbar-nav .nav-item {
  margin-right: 54px;
}
header .navbar-expand-lg .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
header .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #f4f4f4;
}
/* submenu */
header .navbar {
	font-family: monospace;
}



header .navbar li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
  transition-duration: 0.3s;
}

header .navbar ul li ul {
  width: 100px;
  max-width: 200px;
	visibility: hidden;
  opacity: 0;
	position: absolute;
  transition: all 0.3s ease;
	left: 0;
  transform: scale(0);
  background-color: #383B44;
}

header .navbar ul li:hover > ul,
header .navbar ul li ul:hover {
  padding: 10px 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

header .navbar ul li ul li {
	clear: both;
  width: 100%;
  text-align: center;
  padding: 2px 10px;
}
header .navbar ul li ul li:hover {
  background-color: #505154;
}
header .navbar ul li ul li:hover a {
  white-space: nowrap;
  color: #fff;
}
/* submenu end */





header .navbar-expand-lg .navbar-nav.navbar-right .nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.75px;
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
}

.main-con {
  margin-top: 135px;
}
.main-con .title h1 {
  width: 500px;
}
.main-con .order-card-btn {
  margin: 65px 0 85px;
}
.main-con .head-items {
  padding: 31px 55px 36px 21px;
  background: #272931;
  border-radius: 15px;
  height: 100%;
}
.main-con .head-items h2 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #00FEFE;
  margin-bottom: 9px;
}
.main-con .head-items p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #E9E9E9;
}
.main-con .main-img img {
  width: 100%;
}
/* /////////////////// */
.bring-friend .bring-rov {
  justify-content: center;
  margin: 80px 0 85px;
}
.bring-friend .bring-img img {
  width: 100%;
}
.bring-con {
  background: #272931;
}
.bring-friend .link-rov {
  justify-content: center;
}
.bring-friend .bring-link {
  text-align: center;
  padding: 110px 0 140px;
}
.bring-friend .bring-link h2 {
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 137.9%;
  margin-bottom: 34px;
}
.bring-friend .bring-link p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 137.9%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
  padding: 16px 40px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
}
.bring-friend .bring-link h3 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 137.9%;
  color: #FFFFFF;
}
/* /////////// fiat ///////////// */
.fiat-exchange {
  padding: 75px 0;
  background: #1F2128;
  background-image: url('../images/line-bg.png');
  background-position: center;
  background-repeat: no-repeat;
}
.fiat-exchange .title {
  text-align: center;
  margin-bottom: 22px;
}
.fiat-exchange .fiat-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fiat-exchange .fiat-info p {
  margin-right: 30px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 137.9%;
  color: #B7BDC6;
}
.fiat-exchange .fiat-info p img {
  margin-right: 7px;
}
.fiat-exchange .fiat-info p:last-child {
  margin-right: 0;
}

.fiat-sec {
  padding: 50px 0 160px;
  background: #272931;
}
.fiat-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fiat-top .top-left .blue-btn {
  padding: 9px 30px;
  border-radius: 5px;
  margin-right: 65px;
}
.default-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 137.9%;
  color: #FFFFFF;
}
.default-btn:hover {
  color: #fff;
}
.gray-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 137.9%;
  color: #041020;
  padding: 9px 30px;
  background: #EAECEF;
  border-radius: 5px;
}
.fiat-block {
  margin-top: 55px;
}
.fiat-block span.fiat-span {
  display: inline-block;
  font-family: 'Ubuntu';
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 137.9%;
  color: #FFFFFF;
}
.fiat-rov {
  justify-content: center;
}
.fiat-block .input-group input {
  height: 53px;
  background: #383B44;
  border-radius: 5px 0 0 5px;
  background: #383B44;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  border: transparent;
  padding: 10px 23px;
}
.fiat-block .input-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383B44;
  padding: 0 20px;
  height: 53px;
  width: 170px;
  border-radius: 0 5px 5px 0;
  position: relative;
}
.fiat-block .input-group button.show span img {
  transform: rotate(180deg);
}
.fiat-block .input-group button:focus {
  margin-left: 0;
  border: none;
}
.fiat-block .input-group .dropdown-menu {
  width: 157px;
  background: #383B44;
}

.fiat-block .input-group .dropdown-menu li .dropdown-item {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  padding: 5px 10px;
}
.fiat-block .input-group .dropdown-menu li .dropdown-item img {
  margin-right: 10px;
}
.fiat-block .input-group .dropdown-menu li .dropdown-item:hover {
  background: #1F2128;
}
.fiat-block .input-group button:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 2px;
  height: 27px;
  background: #fff;
  padding: 0;
  border: none;
}
.fiat-block .input-group button span {
  display: inline-block;
  margin-left: 13px;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 18px;
  line-height: 137.9%;
  color: #FFFFFF;
}
.fiat-block .input-group button span img {
  margin-left: 15px;
}

.exchange-btn {
  text-align: center;
}
.swap-exchange {
  margin-top: 20px;
}
.swap-exchange svg path {
  transition: .3s all ease;
}
.swap-exchange:hover svg path {
  fill: #fff;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0;
  border: none;
}
.form-btn button,
.fiat-amount-btn button {
  text-align: center;
  width: 100%;
  padding: 16px;
  background: #383B44;
  border-radius: 5px;
  border: none;
  margin-top: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.9%;
  color: #B7BDC6;
  margin-bottom: 34px;
}
.form-btn button:hover,
.fiat-amount-btn button:hover {
  background: #505154;
  color: #fff;
}
.fiat-exchange-btn button {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: none;
}
/* //////////// */
.support-sec {
  padding: 70px 0 150px;
}
.support-sec .support-rov {
  justify-content: center;
}
.support-sec .support-rov h4 {
  text-align: center;
  margin-bottom: 60px;
}
.support-sec .support-block .form-group {
  margin-bottom: 20px;
}
.support-sec .support-block .form-group textarea,
.support-sec .support-block .form-group input {
  width: 100%;
  height: 53px;
  background: #383B44;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  border: transparent;
  padding: 10px 23px;
}
.support-sec .support-block .form-group textarea {
  height: 137px;
}
.support-sec .support-block .blue-btn {
  border-radius: 5px;
  padding: 16px;
  width: 100%;
  border: none;
}
/* /////////////////////// */
.processing-sec {
  padding: 80px 0 180px;
}
.processing-sec .processing-table h4 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 57px;
  color: #FAFAFA;
}
.processing-sec .processing-table table p span,
.processing-sec .processing-table table .title-span {
  display: inline-block;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.processing-sec .processing-table table .title-span {
  margin-bottom: 13px;
}
.processing-sec .processing-table table tbody tr {
  border-color: #E2E2E2;
}
.processing-sec .processing-table table tbody tr td {
  padding: 24px 10px;
}
.processing-sec .processing-table table tbody tr td p {
  display: flex;
  align-items: center;
}
.processing-sec .processing-table table tbody tr td p img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
}
.processing-sec .processing-table table tbody tr td .pro-head {
  display: flex;
  flex-direction: column;
}
.processing-sec .processing-table table tbody tr td .pro-head.left {
  align-items: flex-end;
}
.processing-sec .processing-table table tbody tr td p span.status {
  font-weight: 500;
  font-size: 16px;
}
.processing-sec .processing-table table tbody tr td p span.status.completed {
  color: #4CC900;
}
.processing-sec .processing-table table tbody tr td p span.status.rejected {
  color: #E01F1F;
}
.processing-sec .processing-table table tbody tr td p span.status.in-processing {
  color: #1E75C3;
}
/* /////////////////////// */
.back a {
  font-family: 'Ubuntu';
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.deposit-sec {
  padding: 53px 0 130px;
}
.deposit-sec .deposit-left {
  margin-bottom: 24px;
  text-align: center;
  padding-right: 80px;
}
.deposit-sec .deposit-left.one .deposit-head {
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
}
.deposit-sec .deposit-left .deposit-head {
  border-radius: 15px 15px 0 0;
  background: #008AC8;
}
.deposit-sec .deposit-left .deposit-head p {
  font-family: 'Ubuntu';
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.deposit-sec .deposit-left .deposit-text {
  padding: 20px 30px;
  background: #383B44;
}
.deposit-sec .deposit-left .deposit-text p {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
}

.deposit-sec .deposit-right .deposit-num {
  display: flex;
  align-items: center;
  background: #383B44;
  border-radius: 5px;
  padding: 20px 32px;
  margin-bottom: 60px;
}
.deposit-sec .deposit-right .deposit-num > span {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 18px;
  line-height: 137.9%;
  color: #FFFFFF;
  margin-right: 26px;
}
.deposit-sec .deposit-right .deposit-num p {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 18px;
  line-height: 137.9%;
  color: #868686;
}
.deposit-sec .deposit-right .deposit-num p img {
  height: 30px;
  width: 30px;
  margin-right: 26px;
  border-radius: 50%;
}
.deposit-sec .deposit-right .deposit-link span {
  display: inline-block;
  font-family: 'Ubuntu';
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
.deposit-sec .deposit-right .deposit-qr img {
  width: 172px;
  height: 172px;
}
.deposit-sec .deposit-right .copy-link-btn a {
  margin-top: 34px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}
/* ///// */
.exchange-sec .fiat-block {
  margin-top: 0;
}
.exchange-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
}
.exchange-info .info-right p,
.exchange-info .info-left span,
.exchange-info .info-left p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #FFFFFF;
}
.exchange-info .info-right p {
  line-height: 18px;
}
/* /////////////// */
.card-sec {
  padding: 80px 0 120px;
}
.card-sec .card-rov {
  justify-content: center;
}

.card-sec .card-block {
  text-align: center;
}
.card-sec .card-block .card-img {
  margin-bottom: 60px;
}
.card-sec .card-block .card-img img {
  border-radius: 10px;
}
.card-sec .card-block .card-form .form-group {
  margin-bottom: 20px;
}
.card-sec .card-block .card-form input {
  background: #383B44;
  border-radius: 5px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.9%;
  color: #fff;
  width: 100%;
  border: none;
}
.card-sec .card-block .card-info .card-btn .blue-btn,
.card-sec .card-block .card-form .blue-btn {
  border-radius: 5px;
  border: none;
  width: 100%;
}
/* //////////// */
.card-sec .card-slide {
  position: relative;
  padding: 30px 0 90px;
}
.card-sec .card-slide .owl-item.center .card-img img {
  transform: scale(1.2);
}
.card-sec .card-slide .card-img img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.card-sec .card-block .card-info .card-email p,
.card-sec .card-block .card-info .card-name p {
  background: #383B44;
  border-radius: 5px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.9%;
  text-align: center;
  color: #B7BDC6;
  margin-bottom: 20px;
}
/* ///////////// */
.card-sec.no-card {
  padding-top: 100px;
}
.card-sec.no-card .card-flex .card-img img {
  opacity: 0.5;
  border-radius: 10px;
  width: 90%;
}
.card-sec.no-card .card-flex .card-img.center {
  margin: 0 50px;
}
.card-sec.no-card .card-flex .card-img.center img {
  transform: scale(1.2);
}
.card-sec.no-card .card-info p {
  margin-top: 100px;
  font-weight: 700;
  font-size: 24px;
  line-height: 137.9%;
  color: #FFFFFF;
}

/* =============================== */
/* /////////////// */
.crypto-sec {
  padding: 80px 0 120px;
}
.crypto-sec .crypto-rov {
  justify-content: center;
}
.card-sec .card-flex,
.crypto-sec .crypto-flex {
  justify-content: center;
}

.crypto-sec .crypto-block {
  text-align: center;
}
.crypto-sec .crypto-block .crypto-img {
  margin-bottom: 60px;
}
.crypto-sec .crypto-block .crypto-img img {
  border-radius: 10px;
}
.crypto-sec .crypto-block .crypto-form .form-group {
  margin-bottom: 20px;
}
.crypto-sec .crypto-block .crypto-form input {
  background: #383B44;
  border-radius: 5px;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.9%;
  color: #fff;
  width: 100%;
  border: none;
}
.crypto-sec .crypto-block .crypto-info .crypto-btn .blue-btn,
.crypto-sec .crypto-block .crypto-form .blue-btn {
  border-radius: 5px;
  border: none;
  width: 100%;
}
/* //////////// */
.crypto-sec .crypto-slide {
  position: relative;
  padding: 30px 0 90px;
}
.crypto-sec .crypto-slide .owl-item.center .crypto-img img {
  transform: scale(1.2);
}
.crypto-sec .crypto-slide .crypto-img img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.crypto-sec .crypto-block .crypto-info .crypto-email p,
.crypto-sec .crypto-block .crypto-info .crypto-name p {
  background: #383B44;
  border-radius: 5px;
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.9%;
  text-align: center;
  color: #B7BDC6;
  margin-bottom: 20px;
}
/* ///////////// */
.crypto-sec.no-crypto {
  padding-top: 100px;
}
.crypto-sec.no-crypto .crypto-flex .crypto-img img {
  opacity: 0.5;
  border-radius: 10px;
  width: 90%;
}
.crypto-sec.no-crypto .crypto-flex .crypto-img.center {
  margin: 0 50px;
}
.crypto-sec.no-crypto .crypto-flex .crypto-img.center img {
  transform: scale(1.2);
}
.crypto-sec.no-crypto .crypto-info p {
  margin-top: 100px;
  font-weight: 700;
  font-size: 24px;
  line-height: 137.9%;
  color: #FFFFFF;
}
/* ///////////////////////////// */
.settings-sec {
  padding: 80px 0 120px;
}
.settings-sec > .title h4 {
  margin-bottom: 25px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FAFAFA;
}
.settings-sec .settings-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #E2E2E2;
}
.settings-sec .settings-block .settings-right,
.settings-sec .settings-block .settings-left {
  display: flex;
  align-items: center;
}
.settings-sec .settings-block .settings-left {
  padding-left: 25px;
}
.settings-sec .settings-block .settings-right {
  padding-right: 25px;
}
.settings-sec .settings-left .settings-icon {
  margin-right: 40px;
}
.settings-sec .settings-left .settings-info p {
  font-family: 'Ubuntu';
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAFA;
}
.settings-sec .settings-left .settings-info span {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #A8A8A8;
}
.settings-sec .settings-advanced a,
.settings-sec .settings-right .settings-date p,
.settings-sec .settings-right .settings-current p {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAFA;
}
.settings-sec .settings-right .settings-current img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.settings-sec .settings-right .change-btn a {
  padding: 9px 18px;
  margin-left: 100px;
}
.settings-sec .settings-advanced a {
  display: inline-block;
  margin-top: 18px;
}
/* ////////////////// */

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}
.modal-dialog {
  max-width: 425px;
}
.modal-body {
  padding: 0;
}
.modal-header {
  border-bottom: none;
  padding: 0;
  margin-bottom: 40px;
}
.modal-content {
  background: #272931;
  border-radius: 10px;
  padding: 30px 25px 40px;
}
.modal .close-btn {
  background: transparent;
  padding: 0;
  border: none;
}
.moda-title {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAFA;
}
.modal .body-title {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  margin-bottom: 45px;
}
.modal .modal-body form .form-group > span {
  font-family: 'Ubuntu';
  display: inline-block;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FAFAFA;
}
.modal .modal-body form .form-group.two {
  margin-top: 23px;
}
.modal .modal-body form input {
  width: 100%;
  padding: 14px;
  border: 1px solid #797979;
  border-radius: 5px;
  background: #272931;
  color: #fff;
  transition: .3s all ease;
}
.modal .modal-body form input:hover {
  border-color: #A8A8A8;
}
.modal .forgot-pass a,
.modal .modal-body form input::placeholder {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #797979;
}
.modal .modal-body form .change-modal-btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.modal .modal-body form .change-modal-btn button,
.modal .modal-body form .change-modal-btn a {
  width: 100%;
  text-align: center;
  height: 46px;
  padding: 12px;
}
.modal .modal-body form .change-modal-btn a {
  background: #383B44;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 137.9%;
  color: #797979;
  margin-right: 5px;
}
.modal .modal-body form .change-modal-btn button {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.modal .modal-body form .change-modal-btn a:hover {
  background: #505154;
  color: #fff;
}
.modal .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .avatar img {
  height: 124px;
  width: 124px;
  border-radius: 50%;
}
.filelabel {
  width: 124px;
  margin: auto;
  border-radius: 5px;
  display: block;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  margin: 0;
  position: relative;
}
#FileInput{
  display:none;
}
.filelabel img.add {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 12px;
  right: 2px;
}
.modal .forgot-pass a {
  margin-top: 20px;
}
.modal .forgot-pass a:hover {
  color: #fff;
}
/* //////////////// */
.advanced-sec {
  padding: 70px 0 45px;
}
.advanced-sec .advanced-block {
  padding: 35px;
  background: #1F2128;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.advanced-sec .advanced-left {
  padding-bottom: 45px;
}
.advanced-sec .advanced-block .in-title h3 {
  text-align: center;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.advanced-sec .advanced-block .form-group {
  margin-bottom: 16px;
}
.advanced-sec .advanced-block .form-group > span {
  display: block;
  font-family: 'Ubuntu';
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.advanced-sec .advanced-block .form-group input {
  width: 100%;
  height: 30px;
  padding: 10px;
  background: #383B44;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-family: 'Ubuntu';
}
.advanced-sec .advanced-block .advan-title h4 {
  text-align: center;
  font-family: 'Ubuntu';
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.form-checkbock .control {
  white-space: nowrap;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background: #FFFFFF;
  border: 1px solid #B8B8B8;
  border-radius: 1px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #fff;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
}
.control input:disabled ~ .control__indicator {
  background: #fff;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.advanced-sec .advanced-block p {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 25px;
  white-space: nowrap;
}
.advanced-sec .advanced-block .in-form {
  margin-top: 30px;
}
.advanced-sec .advanced-block .in-form .form-col {
  display: flex;
  align-items: center;
}
.advanced-sec .advanced-block .in-form .form-col .form-group {
  width: 100%;
  margin-bottom: 0;
}
.advanced-sec .advanced-block .purpose.two {
  margin-top: 30px;
  margin-bottom: 0;
}
.advanced-sec .advanced-block .purpose.three h4 {
  margin-bottom: 0;
}
.advanced-sec .advan-con {
  background: #1F2128;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px 15px;
  margin-top: 24px;
  margin-left: 15px;
  margin-right: 15px;
}
.advanced-sec .doc-files h4 {
  font-family: 'Ubuntu';
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.advanced-sec .id-file > p {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.advanced-sec .files-block {
  display: flex;
  align-items: center;
}
.advanced-sec .files-block .blue-btn {
  width: auto;
  border-radius: 100px;
  margin-left: 23px;
  padding: 12px 22px;
  height: auto;
}
.advanced-sec .files-block a {
  font-family: 'Ubuntu';
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
  background: #383B44;
  border-radius: 5px;
  padding: 12px 22px;
}

.advanced-sec .doc-end {
  margin-top: 50px;
  text-align: center;
}
.advanced-sec .doc-end span {
  display: block;
  font-family: 'Ubuntu';
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  height: 32px;
}
.advanced-sec .doc-end span img {
  margin-left: 30px;
}
.advanced-sec .advan-btn {
  margin-top: 45px;
  text-align: center;
}
.advanced-sec .advan-btn button {
  padding: 12px 43px;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  border: none;
}
/* /////////////////////////// */
.balance-sec {
  padding: 65px 0;
}
.balance-sec .balance-item {
  padding: 15px 35px;
  background: #1F2128;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.balance-sec .balance-item p {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #E9E9E9;
}
.balance-sec .space {
  margin-bottom: 18px;
  background: #383B44;
  border-radius: 3px;
  height: 24px;
}
.balance-sec .space:first-child {
  margin-top: 36px;
}
.balance-sec .space:last-child {
  margin-bottom: 26px;
}

.balance-sec table thead tr {
  background: linear-gradient(180deg, #4A8CDB 0%, #65ABFF 100%);
}
.balance-sec table thead tr th {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #FFFFFF;
  border: none;
}

.balance-sec table tbody tr:first-child td {
  padding-top: 26px;
}
.balance-sec table tbody tr td {
  vertical-align: middle;
  border-bottom: none;
  padding: 10px 8px;
}
.balance-sec table tbody tr td > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.balance-sec table tbody tr td .table-currency > img {
  margin-right: 18px;
}
.balance-sec table tbody tr td .table-status p {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #797979;
}
.balance-sec table tbody tr td .table-status p.active {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  background: linear-gradient(90deg, #00E2F2 0%, #008AC8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.balance-sec table tbody tr td .table-request a,
.balance-sec table tbody tr td .table-search a,
.balance-sec table tbody tr td .table-total p {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #FFFFFF;
}
.balance-sec table tbody tr td .table-search img {
  margin-right: 16px;
}
.balance-sec table tbody tr td .table-request img {
  margin-left: 19px;
}
.balance-sec table tbody tr td .currency-img img {
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
}
































/* @media only screen and (max-width: 480px) {} */
